$color-primary: #55c57a;
$color-primary-light: #209cff;
$color-primary-dark: #68e0cf;

$color-grey-light-1: #f7f7f7;
$color-secondary-dark: #ff7730;

$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-white: #fff;
$color-black: #000;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//font
$default-font-size: 1.6rem;