<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="../public/css/icon-font.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="shortcut icon" type="image/png" href="../public/img/favicon.png">

    <title>Ohana Dental</title>
</head>
<body>
    <header class="header">Dr. Urada
       <div class="header__logo-box">
        <img src="../public/img/logo-white.png" alt="logo" class="header__logo">
    </div>
    <div class="header__text-box">
        <h1 class="heading-primary">
              {{msg}}
            <span class="heading-primary--main">Ohana</span>
            <span class="heading-primary--sub">Dentistry</span>
        </h1>
        <a href="#about" class="btn btn--white btn--animated">
          More Info
        </a>
    </div>
</header>

<main>
    <section class="section-about">
        <div class="u-center-text u-margin-bottom-big">    
        <h2 class="heading-secondary"  id="about">
            Affordable pricing with uncomprimised service
        </h2>
        </div>

        <div class="row">
                <div class="col-1-of-2">
                  <h3 class="heading-tertiary u-margin-bottom-small">Limited appointment slots at a low introductory price</h3>
                  <p class="paragraph">
                             Make an appointment, they're filling up fast!           </p>

                  <h3 class="heading-tertiary u-margin-bottom-small">Appointments starting out once per month</h3>
                  <p class="paragraph">
                      We are currently only able to offer appointments one day per month as an introductory service. This helps keep costs down and we pass that along to you. Please contact us for further information.                  </p>
                  <a href="#info" class="btn-text">Learn More &rarr;</a>
                </div>
                <div class="col-1-of-2">
                  <div class="composition">
                      <img src="../public/img/blur-bristle.jpg" alt="photo 1" class="composition__photo composition__photo--p1">
                      <img src="../public/img/care-chair.jpg" alt="photo 2" class="composition__photo composition__photo--p2">
                      <img src="../public/img/myung-won.jpg" alt="photo 3" class="composition__photo composition__photo--p3">
                  </div>
                </div>
            </div>

    </section>

<section class="section-features">


    <div class="row">
        <div class="col-1-of-4" id="info">
            <div class="feature-box">
                    <i class="feature-box__icon icon-basic-world"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Email us</h3>
                    <p class="feature-box__text">
                        Email us using the form below, and I will contact you to set up an Appointment.
                    </p>
            </div>
       </div>

           <div class="col-1-of-4">
            <div class="feature-box">
                    <i class="feature-box__icon icon-basic-headset"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Call/text us<br> 808-333-2248</h3>
                    <p class="feature-box__text">
                        For location info and to discuss appointment options
                    </p>
            </div>
       </div>

           <div class="col-1-of-4">
            <div class="feature-box">
                    <i class="feature-box__icon icon-basic-map"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Directions</h3>
                    <p class="feature-box__text">
                        Contact us for Directions and location info
                    </p>
            </div>
       </div>

           <div class="col-1-of-4">
            <div class="feature-box">
                    <i class="feature-box__icon icon-basic-todo-pencil"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Appointments starting in September</h3>
                    <p class="feature-box__text">
                        Register below to get on the patient list for September and we will contact you to set up an Appointment.
                    </p>
            </div>
       </div>
    </div>
</section>

<section class="section-stories">
    <div class="u-center-text u-margin-bottom-big">    
        <h2 class="heading-secondary"  id="about">
           We genuinely care about helping people.<br>
           Below are actual patient testimonials:
        </h2>
    </div>
    <div class="row">
        <div class="story">
            <figure class="story__shape">
                <img src="../public/img/nat-8.jpg" alt="Person from testimonial write-up" class="story__img">
                <figcaption class="story__caption">
                    Vince Shelnutt
                </figcaption>
            </figure>
            <div class="soty__text">
                <h3 class="heading-tertiary">An honest dentist who cares!</h3>
                <p>
                    Prior to seeing Dr. Urada, I thought I'd never be able to afford to get my teeth back in good condition. Dr. Urada explained to me that the other dentist was adding cosmetic procedures that I didn't want or need. I was able to get my mouth healthy for a fraction of the price! 
                </p>
            </div>
         </div>
    </div>

     <div class="row">
        <div class="story">
            <figure class="story__shape">
                <img src="../public/img/nat-9.jpg" alt="Person from testimonial write-up" class="story__img">
                <figcaption class="story__caption">
                    Vince Shelnutt
                </figcaption>
            </figure>
            <div class="soty__text">
                <h3 class="heading-tertiary">An honest dentist who cares!</h3>
                <p>
                    Prior to seeing Dr. Urada, I thought I'd never be able to afford to get my teeth back in good condition. Dr. Urada explained to me that the other dentist was adding cosmetic procedures that I didn't want or need. I was able to get my mouth healthy for a fraction of the price! 
                </p>
            </div>
         </div>
    </div>

    <div class="u-center-text u-margin-top-huge">
        <a href="#appointment" class="btn-text">Make Appointment &rarr;</a>
    </div>
</section>

<section class="section-book" id="appointment">
    <div class="row">
        <div class="book">
            <div class="book__form">
                <form action="mailto: ohanadentisthouston@gmail.com" method="POST" class="form">
                 <div class="u-margin-bottom-small">
                     <h2 class="heading-secondary">
                     Reserve your spot now!
                    </h2>
<p> Send us an email with your name, phone number and email address. We will contact you to arrange an appointment.
                    <!--   </div>
                    <div class="form__group">
                        <input class="form__input" type="text" name="name" placeholder="Full Name" required>
                        <label class="form__label" for="name">Full Name</label>

                        <input class="form__input" type="text" name="phone" placeholder="Phone Number" required>
                        <label class="form__label" for="phone">Phone Number</label>

                        
                        <input class="form__input" type="email" name="email" placeholder="Email" required>
                        <label class="form__label" for="name">Email</label>
                    </div> -->
                    <div class="form__group">
                        <button type="submit" class="btn btn--green">Email Us &rarr;</button>
                    </div>


                </form>
            </div>
        </div>
    </div>

</section>
</main>
<!-- <section class="grid-test">
            <div class="row">
                <div class="col-1-of-2">
                    Col 1 of 2
                </div>
                <div class="col-1-of-2">
                    Col 1 of 2
                </div>
            </div>
            <div class="row">
                <div class="col-1-of-3">
                    Col 1 of 3
                </div>
                <div class="col-1-of-3">
                    Col 1 of 3
                </div>
                <div class="col-1-of-3">
                    Col 1 of 3
                </div>
            </div>
            <div class="row">
                <div class="col-1-of-3">
                    Col 1 of 3
                </div>
                <div class="col-2-of-3">
                    Col 2 of 3
                </div>
            </div>
            <div class="row">
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
            </div>
            <div class="row">
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-2-of-4">
                    Col 2 of 4
                </div>
            </div>
            <div class="row">
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-3-of-4">
                    Col 3 of 4
                </div>
            </div>
        </section> -->
</body>
</html>
