@mixin clearfix {
    &::after {
    	content: "";
    	display: table;
    	clear: both;
    }
}


//media query manager
/*
0-600: phone
600-900: tablet portrait
9000-1200: tablet landscape
1800+: big desktop

1em = 16px
*/


@mixin respond($breakpoint) {
    @if $breakpoint == phone {
    		@media (max-width: 37.5em) {@content}; //600px
    }
     @if $breakpoint == tab-port {
    		@media (max-width: 56.25em) {@content}; //900px
    }
     @if $breakpoint == tab-land {
    		@media (max-width: 75em) {@content}; //1200px
    }
     @if $breakpoint == big-desktop {
    		@media (max-width: 112.5em) {@content}; //1800px
    }
}